.overlay-menu {
  display: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 145px 14px 48px;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 0.2s ease;
}

.menu__btn-close {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 18px;
  right: 18px;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

.menu__btn-close:before,
.menu__btn-close:after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000000;
}

.menu__btn-close:before {
  transform: rotate(45deg);
}

.menu__btn-close:after {
  transform: rotate(-45deg);
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menu__item {
  margin-bottom: 16px;
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid transparent;
  color: #000000;
  transition: opacity .3s linear;
}

.menu__item:hover {
  opacity: .6;
}

.menu__item.active {
  font-weight: 500;
  border-color: #000000;
}

.menu__account {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity .3s linear;
}

.menu__account:hover {
  opacity: .6;
}

.menu__account-text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.menu__account-img {
  width: 26px;
  height: 30px;
  margin-left: 17px;
  border-radius: 4px;

  background-image: url(../../images/person.svg);
  background-size: 12px 14px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #F9F9F9;
}

.menu.open {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .overlay-menu.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    opacity: 0.3;
  }

  .menu {
    max-width: 520px;
    padding-top: 160px;
    padding-bottom: 92px;
  }

  .menu__btn-close {
    top: 26px;
    right: 26px;
  }

  .menu__item {
    margin-bottom: 23px;
    padding-bottom: 3px;
  }
}

@media (min-width: 992px) {
  .overlay-menu.active {
    display: none;
  }

  .menu {
    flex-direction: row;
    position: relative;
    max-width: none;
    height: auto;
    padding: 0;
    background: none;
    transform: translateX(0);
  }

  .menu__btn-close {
    display: none;
  }

  .menu__list {
    flex-direction: row;
  }

  .menu__item {
    margin-right: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }

  .menu__item.active {
    font-weight: 500;
    border-color: transparent;
  }

  .menu__item_main {
    display: none;
  }

  .menu_light .menu__item {
    color: #ffffff;
  }

  .menu_light .menu__item.active {
    border-color: #ffffff;
  }

  .menu_light .menu__account-text {
    color: #ffffff;
  }
}
