.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F9F9F9;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.30);
  z-index: 2;
}

.info__text {
  padding: 20px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.info__close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}