* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

.root {
  height: 100%;
}

.page {
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  position: relative;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  transition: opacity .3s linear;
}

.logo:hover {
  opacity: .6;
}

@media (min-width: 768px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}
