.page {
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
