.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.navigation__burger {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  width: 40px;
  height: 43px;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;

  background-image: url(../../images/burger.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
}

.navigation__burger.light {
  background-image: url(../../images/burger_white.svg);
}

.navigation__buttons {
  font-size: 10px;
  line-height: 16px;
}

.navigation__signup {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}

.navigation__signin {
  display: inline-block;
  vertical-align: middle;
  min-width: 54px;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  background-color: #2BE080;
  color: #000000;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navigation__buttons {
    font-size: 12px;
  }

  .navigation__signin {
    min-width: 76px;
    margin-left: 30px;
    padding: 8px 12px;
  }
}

@media (min-width: 1024px) {
  .navigation {
    width: 100%;
    padding-left: 45px;
  }

  .navigation__burger {
   display: none;
  }
}
