.portfolio__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.portfolio__link {
  padding: 20px 0;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: baseline;
}

.portfolio__link:last-of-type {
  padding: 20px 0 125px;
  border-bottom: none;
}

.portfolio__title {
  margin: 0 0 30px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__link-name {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__link-icon {
  padding: 0;
  padding-right: 6px;
  margin: 0;
}

