.nav {
  background-color: #F5F5F5;
}

.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  height: 66px;
  margin: 0 auto;
  list-style-type: none;
}

.nav__link {
  margin-right: 24px;
  cursor: pointer;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
  color: #000;
  transition: opacity .3s linear;
}

.nav__link:hover {
  opacity: .6;
}

.nav__link:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  .nav__link {
    margin-right: 40px;
    font-size: 13px;
  }
}
