.header {
  font-size: 14px;
  line-height: 18px;
}

.header_dark {
  background-color: #5c5c5c;
}

.header__container {
  height: 74px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; 
  align-content: flex-start;
  align-items: center;
}