.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.about-me {
  margin-top: 110px;
}

.about-me__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.about-me__title {
  width: 100%;
  display: inline;
  padding: 0;
  padding-bottom: 23px;
  margin: 0;
  border-bottom: 1px solid #000;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-me__info {
  width: 100%;
  margin: 66px 0 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.about-me__description {
  max-width: 600px;
}

.about-me__name {
  margin: 0 0 18px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__profile {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__story {
  margin: 26px 0 99px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.about-me__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}